body {
  margin: 0;
  user-select: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#info {
  position: fixed;
  margin: 0;
  width: 300px;
  left: 5vw;
  top: 5vw;
}

#info h1 {
  margin: 0;
  font-size: 7rem;
  font-family: "Anton", sans-serif;
}

#info p {
  margin: 0 0 3vh 0;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

#info button {
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(30, 30, 30);
  background-color: rgba(195, 195, 195, 0.5);
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px rgba(100, 100, 100, 1);
  width: 100%;
}

#info button:active {
  box-shadow: 0 0px #666;
  transform: translateY(10px);
}
